* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}



/* Navbar */

header {
    background-color: black;
}

nav {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

/* Helpers */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.text-right {
    text-align: right;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}


.hero {
    padding-top: 32px;
    padding-bottom: 48px;
}


.btn {
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: teal;
    color: white;

}

.btn-secondary {
    background: transparent;
    border: 2px solid teal;
    color: teal;
    padding: 8px 16px;
    margin-top: 16px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.left {
    padding: 50px;
}

/* Content */
#intro {
    background-color: black;
    padding: 50px 0;
    color: white;
}

.rounded img {
    border-radius: 8px;
}

#intro h5 {
    color: teal;
    font-size: 24px;
    margin-bottom: -15px;
}

#intro h1 {
    font-size: 32px;
    margin: 16px 0;
}

#intro h1 span {
    color: teal;
}


#about {
    padding: 50px 0;
}

#about h5 {
    font-size: 24px;
    margin-bottom: 16px;
}

#about h5 span {
    color: teal;
}

#about h3 {
    font-size: 16px;
    margin-bottom: 16px;
}

#about p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}


.socialmedia {
    list-style-type: none;
    margin-top: 32px;
    padding: 0;
}

.socialmedia li a {
    color: black;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

#services {
    padding: 50px 0;
    background-color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}